#display {
  border: 2px solid black;
  position:relative;
  width:209px;
  height:85px;
  margin-bottom:5px;
  overflow-x:auto;
  white-space:nowrap;
  background-color:green;
  margin-top:5px;
  margin: 5px 5px;
  color:white;
  outline:none;
  text-align:right;
  outline:none;
}
#display-content {
    text-align:right;
    width:209px;
    outline:none;
    font-size:20px;
    font-family:"Courier New";
}
#title {
  background-color:green;
  font-family:"Courier New";
  border: 4px solid #264D00;
  color:white;
  display:inline-block;
  text-align:center;
  padding:5px;

}
.center {
  text-align:center;
  display:block;
}
button {
  width:40px;
  background-color:white;
  padding:5px;
  border-radius:20px;
  outline:none;
  border-color:black;
}

button:hover {
    background-color:#999999;
}

#outline {
    border:5px solid green;
    display:block;
    background-color:grey;
    width:223px;
    height:300px;
    border-radius:5px;
    margin-top:15%;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
}

table {
    background-color:grey;
    margin:auto;
    height:200px;
}

body {
    background-color:#a2a2a2;
}

button:active {
    background-color:green;
}
